node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log
dist/
coverage/
.env
image-cache
image-cache_mike
results_database/*
*.log
.env
config/local.json
*.sqlite
*.db
coverage/
.jest/
.DS_Store
Thumbs.db